@model TicketsBookingOnlineSystem.ViewModels.FilmDetailsViewModel

@{
    ViewBag.Title = "FilmDetails";
}

<br /><br />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h1 class="panel-title"><b>@Html.DisplayFor(model => model.Title)</b></h1>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="container ">
                        <div class="col-md-4">
                            <div><img src="@Url.Content(Model.Image)" width=300 height=450></div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-6">
                                    <b>Gatunek: </b>@Html.DisplayFor(model => model.FilmGenreName)
                                </div>

                                <div class="col-md-6">
                                    <b>Czas trwania: </b>@Html.DisplayFor(model => model.Duration)
                                </div>
                            </div>
                            <br />
                            <div class="col-md-12">
                                <div class="row">
                                    <b>Reżyseria: </b>@Html.DisplayFor(model => model.CreatorName)
                                </div>
                                <br />
                                <div class="row">
                                    <b>Opis:</b><br />@Html.DisplayFor(model => model.Description)
                                </div>

                                <br /><br />
                                <div class="row">
                                    <b>Daty seansu: </b><br /><br />
                                    @foreach (var item in Model.Seances)
                                    {
                                        if ((DateTime.Now < item.Date))
                                        {
                                            @Html.ActionLink(item.Date.ToString("dd.MM HH:mm"), "choosenSeance", "Repertoire", new { id = item.Id }, new { data_modal = "", @class = "btn btn-primary", @style = "font-size: 16px; color: whitesmoke; margin-right: 2%; margin-bottom:0.5%" }) <br /><br />
                                        }
                                    }
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col col-xs-4">
                            @Html.ActionLink("Powrót", "Repertoire", "Repertoire", null, new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Seans</h5>
            </div>
            <div class="modal-body">
                <div id='myModalContent'></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-priamry" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>
@*Html.ActionLink(item.Title, "Index", "FilmDetails", new { id = item.Id }, new { })*@

<script>
    $(function () {
        $.ajaxSetup({ cache: false });
        $("a[data-modal]").on("click", function (e) {
            $('#myModalContent').load(this.href, function () {
                $('#myModal').modal({
                    keyboard: true
                }, 'show');
            });
            return false;
        });
    });
</script>