@model TicketsBookingOnlineSystem.ViewModels.FilmDetailsViewModel

@{
    ViewBag.Title = "FilmDetails";
}

<br>
<h2>@Html.DisplayFor(model => model.Title)</h2>
<hr />
<div>
    @foreach (var item in Model.FilmImages)
            {
        <img src="@item.Alt" alt="Mountain View" width=300 height="300">
    }
</div>

@*<div><img src="@Html.DisplayFor(model => model.Image)" width=300 height=300></div>*@

<div><img src="@Url.Content(Model.Image)" width=300 height=300></div>

<br>
<dl class="dl-horizontal ">

    <dt>
        Gatunek:
    </dt>

    <dd>
        @Html.DisplayFor(model => model.FilmGenreName)
    </dd>

    <dt>
        Czas trwania:
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Duration)
    </dd>

    <dt>
        Reżyser:
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CreatorName)
    </dd>

    <dt>
        Opis:
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>

    <dt>
        Daty seansu:
    </dt>

    <dd>
        @foreach (var item in Model.Seances)
            {
            <div>@Html.DisplayFor(modelItem => item.Date)</div>
        }
    </dd>
</dl>


