<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body style="background-color:whitesmoke; color: #737373">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("KINO", "Repertoire", "Repertoire", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Repertuar", "Repertoire", "Repertoire")</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dramaty", "Drama", "FilmGenres")</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Komedie", "Comedy", "FilmGenres")</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Horrory", "Horror", "FilmGenres")</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Kino akcji", "Action", "FilmGenres")</li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>



    <div id="footer">
        <p>&copy; @DateTime.Now.Year - Powered by Kacper Gołębiewski</p>
    </div>



    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    #footer {
        padding-top: 4px;
        border: solid 1px;
        border-color: #CCCCCC;
        position: fixed;
        left: 0px;
        bottom: 0px;
        height: 30px;
        width: 100%;
        background: #D6D6D6;
        text-align: center;
        color: #3D3D3D;
    }
    .navbar-inverse {
        background-color: black;
    }
</style>