@model TicketsBookingOnlineSystem.ViewModels.SeanceViewModel

    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FilmTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FilmTitle)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
        </dl>
        <center>
            @Html.ActionLink("Rezerwuj", "Index", "Seance", new { id = Model.Id }, new { @class = "btn btn-primary" })
        </center>
    </div>

<style>
    .dl-horizontal {
        padding-left: 17%;
    }
</style>