@model TicketsBookingOnlineSystem.ViewModels.AddFilmViewModel

<br /><br />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Edytuj film</h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("EditFilm", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal ">
                            <div class="form-group required">
                                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group required">
                                @Html.LabelFor(model => model.FilmGenre, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.FilmGenre, Model.FilmGenres, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FilmGenre, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group required">
                                @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control", placeholder = "00:00:00" } })
                                    @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group required">
                                @Html.LabelFor(model => model.Creator, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.Creator, Model.Creators, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Creator, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-9">
                                    @Html.TextAreaFor(model => model.Description, new { rows = "6", cols = "91", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group required">
                                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-9">
                                    <input type="file" name="ImageFile" accept="image/*">
                                    <img src="@Url.Content(Model.Image)" width=300 height=300>
                                </div>
                            </div>

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Zapisz" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col col-xs-4">
                            @Html.ActionLink("Powrót", "FilmList", "Admin", new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .form-group.required .control-label:after {
        content: "*";
        color: red;
    }

    input,
    select,
    textarea {
        max-width: none;
        overflow: hidden;
    }
</style>